{% extends 'base.html.twig' %}

{% block body %}
    <ul class="nav navbar-nav">
        <li class="active"><a href="{{ path('produit_index') }}">Plats</a></li>
        <li><a href="{{ path('drink_index') }}">Boissons</a></li>
        <li><a href="{{ path('ingredient_index') }}">Ingredients</a></li>
    </ul>
    </br>
    </br>
    <h1>Ingredients list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ingredient in ingredients %}
            <tr>
                <td><a href="{{ path('ingredient_show', { 'id': ingredient.id }) }}">{{ ingredient.id }}</a></td>
                <td>{{ ingredient.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ingredient_show', { 'id': ingredient.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('ingredient_edit', { 'id': ingredient.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ingredient_new') }}">Create a new ingredient</a>
        </li>
    </ul>
{% endblock %}
