{% extends 'base.html.twig' %}

{% block body %}
    <ul class="nav navbar-nav">
        <li class="active"><a href="{{ path('produit_index') }}">Plats</a></li>
        <li><a href="{{ path('drink_index') }}">Boissons</a></li>
        <li><a href="{{ path('ingredient_index') }}">Ingredients</a></li>
    </ul>
    </br>
    </br>
    <h1>Ingredient creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Ajouter" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('ingredient_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
