{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-default div">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Restauratec</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ path('produit_index') }}">Plats</a></li>
                <li><a href="{{ path('drink_index') }}">Boissons</a></li>
                <li><a href="{{ path('ingredient_index') }}">Ingredients</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}
