{% extends 'base.html.twig' %}

{% block body %}
    <ul class="nav navbar-nav">
        <li class="active"><a href="{{ path('produit_index') }}">Plats</a></li>
        <li><a href="{{ path('drink_index') }}">Boissons</a></li>
        <li><a href="{{ path('ingredient_index') }}">Ingredients</a></li>
    </ul>
    </br>
    </br>
    <h1>Produits list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Homemade</th>
                <th>Isvegan</th>
                <th>Temperature</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td><a href="{{ path('produit_show', { 'id': produit.id }) }}">{{ produit.id }}</a></td>
                <td>{{ produit.name }}</td>
                <td>{{ produit.price }}</td>
                <td>{% if produit.homemade %}Yes{% else %}No{% endif %}</td>
                <td>{% if produit.isVegan %}Yes{% else %}No{% endif %}</td>
                <td>{{ produit.temperature }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('produit_show', { 'id': produit.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('produit_edit', { 'id': produit.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('produit_new') }}">Create a new produit</a>
        </li>
    </ul>
{% endblock %}
