{% extends 'base.html.twig' %}

{% block body %}

    <ul class="nav navbar-nav">
        <li class="active"><a href="{{ path('produit_index') }}">Plats</a></li>
        <li><a href="{{ path('drink_index') }}">Boissons</a></li>
        <li><a href="{{ path('ingredient_index') }}">Ingredients</a></li>
    </ul>
    </br>
    </br>
    <h1>Drink edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Modifier" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('drink_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
