{% extends 'base.html.twig' %}

{% block body %}

    <ul class="nav navbar-nav">
        <li class="active"><a href="{{ path('produit_index') }}">Plats</a></li>
        <li><a href="{{ path('drink_index') }}">Boissons</a></li>
        <li><a href="{{ path('ingredient_index') }}">Ingredients</a></li>
    </ul>
    </br>
    <h1>Drinks list</h1>

    <table >
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Alcohol</th>
                <th>Alcoholvolume</th>
                <th>Price</th>
                <th>Cl</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for drink in drinks %}
            <tr>
                <td><a href="{{ path('drink_show', { 'id': drink.id }) }}">{{ drink.id }}</a></td>
                <td>{{ drink.name }}</td>
                <td>{% if drink.alcohol %}Yes{% else %}No{% endif %}</td>
                <td>{{ drink.alcoholVolume }}</td>
                <td>{{ drink.price }}</td>
                <td>{{ drink.cl }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('drink_show', { 'id': drink.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('drink_edit', { 'id': drink.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('drink_new') }}">Create a new drink</a>
        </li>
    </ul>
{% endblock %}
