{% extends 'base.html.twig' %}

{% block body %}
    <ul class="nav navbar-nav">
        <li class="active"><a href="{{ path('produit_index') }}">Plats</a></li>
        <li><a href="{{ path('drink_index') }}">Boissons</a></li>
        <li><a href="{{ path('ingredient_index') }}">Ingredients</a></li>
    </ul>
    </br>
    </br>
    <h1>Drink</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ drink.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ drink.name }}</td>
            </tr>
            <tr>
                <th>Alcohol</th>
                <td>{% if drink.alcohol %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Alcoholvolume</th>
                <td>{{ drink.alcoholVolume }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ drink.price }}</td>
            </tr>
            <tr>
                <th>Cl</th>
                <td>{{ drink.cl }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('drink_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('drink_edit', { 'id': drink.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
